$fontColor: #303133;
$themeColor: #06a17e;
$themeOpacityColor: rgba(6, 161, 126, 0.08);
$siderBarthemeColor: #545c64;
$themeBtnOpacityColor: #ffffff;
$h1Color: #2c2a33; // 大标题
$pColor: #57565b; // 标题/正文
$subColor: #959599; // 辅助

$warnColor: #ef3939;
$inIconColor: #ffa33c;
$scoreColor: #f7ba2a;
$fromItemLabelColor: #222329;

$whiteColor: #ffffff;

$h1Color: #2c2a33; // 大标题
$pColor: #57565b; // 标题/正文
$subColor: #959599; // 辅助
$sub2Color: #c8c9cc; // 辅助2
$disabledColor: #c9c8cc; // 不可点击
$deepDark: #343336; // 巨黑的字体
$dividerColor: #f9f9fa;
$dividerColor2: #e9e6f1;


$font_size_small: 12px;
$font_size_small_x: 14px;
$font_size_middle: 16px;
$font_size_middle_x: 18px;
$font_size_large: 20px;
$font_size_large_x: 22px;